.footer {
  height: 8vh;
  background: rgba(129, 67, 80, 0.2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.footer .social_media {
  font-size: 32px;
  display: flex;
}
.footer .social_media a {
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

@media (max-width: 440px) {
  .copyright {
    font-size: 12px;
  }
  .footer .social_media {
    font-size: 26px;
  }
}
